* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: .5% 0;
  background-color: #aaa;
  width: 100%;
  height: 60px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

p {
  align-self: center;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

img {
  width: auto;
  height: 100%;
  justify-self: left;
}

ul {
  list-style-type: none;
}

.detailed-ticket {
  /* border: solid black 2px; */
  /* border-radius: 15px; */
  margin: auto;
  max-width: 70%;
}

.detailed-ticket-view {
  flex: 3;
}

.ticket-info {
  justify-content: space-evenly;
}

.ticket {
  border: solid black 2px;
  border-radius: 15px;
  margin: auto;
  max-width: 70%;
}

.new-comment {
  margin: auto;
  min-width: 70%;
}

.comment {
  border: solid black 2px;
  border-radius: 15px;
  margin: auto;
  max-width: 70%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  float: center;
}

.interior-header {
  min-width: 30%;
  padding: 5% 0;
  flex: 1;
}

.questions-list {
  flex: 3;
}

.new-question {
  flex: 3;
  padding: 30px;
}

.left {
  float: left;
  margin-left: 25px;
}

div {
  justify-content: center;
}

.right {
  float: right;
  margin-right: 15px;
}

.display-inline-block {
  display: inline-block;
}

.bottom-padding {
  padding-bottom: 5px;
}

@media only screen and (max-width: 655px) {
  nav {
    height: 50px;
    padding: 1% 0;
  }

  body {
    font-size: small;
  }

  .questions-list {
    max-width: 60%;
  }

  .comment-list {
    max-width: 60%;
  }

  .interior-header {
    margin-top: 20px;
    min-width: 40%;
  }
}